
/* Default Styles */
:root {
    --bg-color: #505561;
    --font-color: #fefefe;
    --link-color: rgb(157, 154, 221);
    --text-color-1: rgba(0, 179, 119, 1);
    --text-color-2: rgb(255, 36, 2);
  }
  
  /* Page Base Styles */
  html {
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: var(--font-color);
  }
  h1,
  h2,
  h3 {
    font-family: "Montserrat", sans-serif;
  }
  h1 {
    font-size: 36px;
    animation: fadeInLeft 1s ease;
  }
  h2 {
    color: var(--font-color);
    font-weight: 900;
  }
  h3 {
    color: rgb(140 255 0);;
  }
  h4 {
      font-family: 'Playfair Display', serif;
  }
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  p {
    font-family: 'Roboto Mono', monospace;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.1rem;
  }
  ul {
    list-style: none;
  }
  
  .gradient {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient( -35deg, rgb(202 52 52) 0%, rgb(236 249 0) 100% );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
  }
  
  /*--> PROJECTS -->  */
  
  #projects {
    color: rgb(0 255 95);
  }
  #project {
    padding: 15vh 16px;
  }
  #project h2 {
    font-size: xx-large;
    text-align: left;
    margin-left: 1rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-top: 5vh;
  }
  .repository-container {
    border: 1px solid #7b8383;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    padding: 16px;
    border-radius: 5px;
    background: #222431;
  }
  .repository-container h3 {
    text-align: left;
  }
  .repository-container img {
    vertical-align: bottom;
  }
  
  .repository-container p {
    font-size: 12px;
  }
  .repository-head {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: flex-start;
  }
  .repository-description {
    text-align: left;
  }
  .repository-language-used-container {
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    gap: 8px;
  }
  .language-used {
    font-size: 12px;
    color: #00ffff;
  }
  .more-repo {
    margin-top: 10px;
    display: block;
  }
  .more-repo a {
    font-weight: 800;
    color: var(--link-color);
  }
  .live-indicator__circle {
    background-color: #e33a00;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
  
    &::before, &::after {
      display: block;
      width: 10px;
      height: 10px;
      background-color: #e33a00;
      content: '';
      opacity: 0.4;
      border-radius: 50%;
      
      position: absolute;
      top: -2px;
      left: -2px;
      box-shadow: 0 0 10px 0 rgba(230, 56, 0, 0.4);
    }
    
    &::before {
      animation: grow 2s infinite;
    }
  }
  @keyframes grow {
    0%    { transform: scale(0); }
    60%  { transform: scale(1.5); }
    100%  { transform: scale(0); }
  }

  /*--> PROJECTS  ENDS -->  */
  
  /*--> CONTACT ME --> */
  
  .contact .contact-content .column {
    width: calc(50% - 30px);
  }
  .contact .left .text {
    margin-top: 20px;
  }
  .contact .contact-content .left .text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact .contact-content .left .icons {
    margin: 10px 0;
  }
  
  .contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
  }
  .contact .contact-content .row .email-icon {
    margin-left: -7px;
  }
  .contact .contact-content .row .info {
    margin-left: 30px;
    justify-content: left;
    float: left;
  }
  .contact .contact-content .info .head {
    font-weight: 600;
  }
  .contact .contact-content .info .sub-title {
    color: #fff;
  }
  .contact .right .text {
    padding-bottom: 10px;
    font-weight: 600;
  }
  .contact .right form .fields {
    display: flex;
  }
  .contact .right form .fields,
  .contact .right form .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
  }
  .contact .right form .name {
    margin-right: 15px;
  }
  .contact .right form .email {
    margin-left: 15px;
  }
  .contact .right form .textarea {
    height: 160px;
    width: 100%;
  }
  .contact .right form .field input,
  .contact .right form .textarea textarea {
      width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  .contact .right form .textarea textarea {
    padding-top: 15px;
      width: 600px;
  }
  .contact .right form .button {
    height: 47px;
    width: 220px;
  }
  .contact .right form .button button {
    height: 100%;
    width: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
  }